<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.account.mapper.fpps.BlockRewardMapper">
	<select id="getBlockReward" resultType="com.mpool.common.model.account.fpps.BlockReward">
		SELECT
			height,
			reward_block,
			reward_fees
		FROM
			block_reward
		ORDER BY
			height DESC
		LIMIT 432
	</select>
</mapper>