<h3>
	<small>
		<a href="#" class="icon-action-undo" ng-click="back()" title="返回"></a>&nbsp;
		{{ 'dashboard.ADDSYSUSER' | translate:{ appName: app.name } }}
	</small>
</h3>
<div class="table-grid table-grid-desktop">
	<div class="panel col-lg-12 modularStyle">
		<form class="form-horizontal" role="form" novalidate name="myForm"> 

			<div class="form-group" style="height: 53px;">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label"></label>
				<div class="col-sm-5 col-md-5 col-xs-12 accountsStyle title2"></div>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">真实姓名</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<input type="text" ng-model="fullName" ng-change="changFullName(fullName)" placeholder="请输入真实姓名" class="form-control">
				</div>
				<span class="col-md-4 col-sm-4 col-xs-12 regtitle12">{{fullNameCheck}}</span>
			</div>
			
			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">用户名</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<input type="text" ng-model="user" ng-change="changUser(user)" placeholder="请输入用户名" class="form-control">
				</div>
				<span class="col-md-4 col-sm-4 col-xs-12 regtitle12">{{user_Check}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">密码</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<input type="password" ng-model="password" ng-change="changPassword(password)" placeholder="请输入密码" class="form-control">
				</div>
				<span class="col-md-4 col-sm-4 col-xs-12 regtitle12">{{password_Check}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">邮箱</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<input type="text" ng-model="email" ng-change="changEmail(email)" placeholder="请输入邮箱" class="form-control">
				</div>
				<span class="col-md-4 col-sm-4 col-xs-12 regtitle12">{{emil_Check}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">手机号码</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<input type="text" ng-model="phone" ng-change="changPhone(phone)" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"
					 placeholder="请输入手机号" class="form-control">
				</div>
				<span class="col-md-4 col-sm-4 col-xs-12 regtitle12">{{phone_Check}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 col-sm-3 col-xs-12 control-label">选择角色</label>
				<div class="col-sm-5 col-md-5 col-xs-12">
					<select ng-model="roleId" class="form-control ng-pristine ng-valid ng-touched" ng-change=fRoleIdvalidate(roleId) ng-options="x.roleId as x.roleName for x in roles" required>
					</select>
				</div>
				<span ng-show="roleIdvalidate" class="col-md-4 col-sm-4 col-xs-12 regtitle12">角色是必填的</span>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-md-offset-3 col-xs-offset-6 col-sm-7 col-md-7 col-xs-7">
					<button type="button" ng-click="getAddSysuser()" ng-disabled="!sub" class="btn btn-primary mt-lg subcreSubAcc"
					 style="width: 100px;">确 认</button>
				</div>
			</div>
		</form>
	</div>
</div>