<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.admin.module.pool.mapper.StatsWorkersHourMapper">
	<select id="getActiveWorker" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			stats_workers_hour
		WHERE
			`hour` = #{hour}
		AND share_accept > 0
	</select>

	<select id="getStatsUsersHourInHour" resultType="Map">
		SELECT `hour`, COUNT(worker_id) as count FROM stats_workers_hour WHERE
		`hour` in <foreach collection="hours" open="(" close=")" separator="," item="item">
		#{item}
	</foreach>
		AND puid = #{userId}
		AND share_accept > 0
		AND worker_id != 0
		group by `hour`
	</select>
</mapper>