<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.admin.module.pool.mapper.StatsUsersDayMapper">

	<select id="getShareByPuidAndDay"
		resultType="java.lang.Long">
		SELECT
			share_accept
		FROM
			stats_users_day
		WHERE
			`day` = #{day}
		AND `puid` IN <foreach collection="puids" open="(" close=")" separator="," item="puid">
			#{puid}
		</foreach>
 	</select>
 	<select id="getStatsUsersDayInDay" resultType="com.mpool.common.model.pool.StatsUsersDay">
 		SELECT * FROM `stats_users_day` WHERE puid = #{userId} and `day` in 
 			<foreach collection="list" open="(" close=")" item="day" separator=",">
				#{day}
			</foreach>
 	</select>
 	
 	<select id="getStatsUsersDayInDayAndInPuid" resultType="com.mpool.common.model.pool.StatsUsersDay">
 		SELECT * FROM `stats_users_day` WHERE puid in <foreach collection="subUserIds" open="(" close=")" item="puid" separator=",">
 			#{puid}
 		</foreach>  AND `day` in 
 			<foreach collection="days" open="(" close=")" item="day" separator=",">
				#{day}
			</foreach>
 	</select>
</mapper>
