<div class="col-lg-12">
	<!--
	<div class="col-sm-3 col-xs-3" style="color: #fff;">
		<p>关于我们</p>
		<span><a href="">公司简介</a></span>
		<span><a href="">联系我们</a></span>
		<span><a href="">加入我们</a></span>
		<span><a href="">免责声明</a></span>
		<span><a href="">校园招聘</a></span>
	</div>
	<div class="col-sm-3 col-xs-3">
		<div class="p-lg text-center" style="color: #fff;">
	      	<span>Copyright &copy;2018</span>
	      	<span>深圳证券通信有限公司 </span>
	      	<span>All Rights Reserved </span>
	      	<span>粤ICP备09098080号</span>
	   	</div>
	</div>
	<div class="col-sm-3 col-xs-3" style="color: #fff;">sdfsdf</div>
	<div class="col-sm-3 col-xs-3" style="color: #fff;">sdfsdf</div>
	-->
	<div class="p-lg text-center" style="color: #fff;">
		<span>Copyright &copy;2018 深圳致宸信息科技有限公司 All Rights Reserved 粤ICP备09098080号</span>
	</div>
</div>