<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.admin.module.bill.mapper.PoolRateServiceMapper">
	<update id="updateDefaultUserRate">
		UPDATE user_pay SET fpps_rate = #{newRate} WHERE 
		puid IN <foreach collection="puids" close=")" open="(" item="puid" separator=",">#{puid}</foreach>
		AND currency_id=#{currencyId}
	</update>
	<update id="updateUserVipLevel">
		UPDATE account_user SET user_group = 0 WHERE 
		user_id IN <foreach collection="userIds" close=")" open="(" item="userId" separator=",">#{userId}</foreach>
	</update>
</mapper>
