<!--统计-->
<link rel="stylesheet" href="/app/homepage/css/footstyle.css" />
<span data-ng-bind="::pageTitle()" style="display: none;"></span>
<h3>
   <small>
   	<span ng-click="homepage()" style="color:#3c78c2;">{{ 'nav.homepage' | translate }}</span> 
   	<span style="color: #ccc;">/</span> 
   	{{ 'dashboard.Statistics' | translate:{ appName: app.name } }}
   </small>
</h3>
<div class="table-grid table-grid-desktop" style="margin-bottom:350px;">
	<div class="panel col-lg-12">
		<div class="panel-body tableBot" style="padding:40px">
			<text class="table-top" style="display: inline-block;color: #000000;font-size: 24px; font-weight:bold ;border: none;margin-bottom: 40px;">Block{{'block.History record' |translate}} </text>
			<li dropdown="" class="dropdown dropdown-list" style="list-style: none; float: right">
				<div dropdown-toggle="" style="cursor: pointer;">
					<div class="coinbtn">
						<img src="{{currencyCoin}}" alt="" style="margin: -2px 4px 0 8px">
						<span>{{currencyName}}</span>
						<span class="fa fa-angle-down" style="margin-left: 15px"></span>
					</div>
				</div>
				<ul class="dropdown-menu animated flipInX" style="left:0;min-width: 102px;top: 38px">
					<li ng-repeat="item in currencyData">
						<div class="list-group">
							<a class="list-group-item" style="padding:0px;">
								<div class="media-box">
									<div class="media-box-body clearfix" style="height:30px;text-align: left" ng-click="changeCoin(item.type)">	
										<img src="{{item.coinIcon}}" alt="" style="margin: -2px 4px 0 8px">										
										<text>{{item.type}}</text>
									</div>
								</div>
							</a>
						</div>
					</li>
				</ul>	
			</li>
						
			<table class="table table-hover tableSize" style="border: 1px solid #E6E6E6;">
            	<thead class="tableBC">
            		<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
            			ng-class="{sortable: column.sortable !== false}" class="{{column.class}}">
		                {{column.label}}
		                <i ng-show="vm.sort.direction === 1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-down"></i>
		                <i ng-show="vm.sort.direction === -1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-up"></i>
		            </th>
            	</thead>
           		<tbody>
		            <tr ng-show="show_items" ng-repeat="items in itemsData|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1">
		               	<td class="hidden-xs">{{items.height}}</td>
		               	<td>{{items.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		               	<td class="hidden-xs">{{items.hash}}</td>
		               	<td>{{items.rewards/100000000| number:8}}</td>
		               	<td class="hidden-xs">{{items.size}}</td>
		               	<td class="hidden-xs">{{items.confirmed_num}}</td>
		            </tr>
            	</tbody>
         	</table>

			<div class="wait" ng-show="!show_items">
		    	<div class="loader1">
	            	<div class="ball-clip-rotate hint">
	               		<div></div>
	               		<span class="hint2">{{'common.loding' |translate}}...</span>
	            	</div>
			    </div>
		    </div>
          	<div ng-show="items_num==0 && show_items" class="wait text-center">
		    	<span>{{'common.empty' |translate}}</span>
			</div>
			
			
			<div style="margin:30px 0 20px 0">
				<ul class="pagination" style="margin:0">
					<li ng-class="{true:'disabled'}[p_current==1]">
						<a href="javascript:void(0);" ng-click="p_index()" class="pIndex">{{'dashboard.homepage' | translate}}</a>
					</li>
					<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]">
						<a href="javascript:void(0);" ng-click="load_page(page,currentSelect.value)" class="pIndex">{{ page }}</a>
					</li>
					<li ng-class="{true:'disabled'}[p_current==p_all_page]">
						<a href="javascript:void(0);" ng-click="p_last()" class="pIndex">{{'dashboard.lastpage' | translate}}</a>
					</li>
				</ul>
				<div style="display:float; float:right;"  class="hidden-xs">
					<select ng-model="currentSelect.value" ng-change="getStatistics(1, currentSelect.value)"
					 style="padding-left: 2px;height: 32px;border: 1px solid #E6E6E6;border-radius: 4px; color: #121212;opacity: 0.56;">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>{{'dashboard.perpage'| translate}}{{'dashboard.totalp'| translate}}{{count}}
						{{'dashboard.tiao'| translate}}{{totalPage}}
						{{'dashboard.ye'| translate}}{{'dashboard.goto' | translate}}&nbsp;</span>
					<input ng-model="page" type="number" style="width: 40px; text-align: center; height: 32px;border: 1px solid #E6E6E6;border-radius: 4px; color: #121212;opacity: 0.56;">
					<span>&nbsp;{{'dashboard.ye1'| translate}}&nbsp;
					<div class="btn btn-primary" ng-click="load_page(page,currentSelect.value)" style="margin-top:-3px;height:32px; line-height: 16px; background: #1466BF;border-radius: 4px; box-shadow: none">
						{{'common.ok' |translate}}</div>
				</div>
			</div>

	   	</div>
	</div>
</div>


<div class="col-lg-12" style="position: absolute;bottom: 0;left: 0;right: 0">
	<div class="background-parallax" data-enllax-ratio=".5" data-enllax-type="background" data-enllax-direction="vertical"></div>
	<div class="container padding-bottom-big">
			<div class="row justify-content-between">
			<div class="col-lg-5 col-md-12 foot-logo hidden-xs" style="margin-top: 20px">
				<img src="app/homepage/img/qrImg.jpg" class="qrImg">
				<div style="display: inline-block; align-items: center; vertical-align: middle; margin-left:30px;padding-right: 60px;border-right:1px solid #FFFFFF" >
					<img src="/app/homepage/img/logo/Logo.png" class="logoImg" alt="logo">
					<text class="email">{{'foot.email'|translate}}：support@hummerpool.com</text>
				</div>
			</div>
			<div class="col-lg-7 col-md-12" style="margin-top: 20px;color:#fff;opacity: 1; text-align: center">
				<ul class="footer-list footlist">
					<li class="ft-item">
						<label style="margin-bottom:20px">{{'foot.Product'|translate}}</label>
						<a href="http://www.cynosure-chain.com">{{'foot.Hummerpool'|translate}}</a>
						<a href="https://www.hummerminer.com">{{'foot.Hummerminer'|translate}}</a>
					</li>
					<li class="ft-item">
						<label style="margin-bottom:20px">{{'foot.Service'|translate}}</label>
						<a href="/announcement">{{'foot.Announcements'|translate}}</a>
						<a href="" style="visibility:hidden">{{'foot.Mining Tutorial'|translate}}</a>
					</li>
					<!-- <li class="ft-item">
						<label style="margin-bottom:20px">{{'foot.Helps'|translate}}</label>
						<a href="">{{'foot.Help Center'|translate}}</a>
						<a href="">{{'foot.Contact Us'|translate}}</a>
					</li> -->
					<li class="ft-item" style="width: 160px !important">
						<label style="margin-bottom:20px">{{'foot.After-sale'|translate}}</label>
						<a href="">{{'foot.QQ Group'|translate}}1:783079293</a>
						<a href="">{{'foot.QQ Group'|translate}}2:791421817</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>