<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.admin.module_zec.pool.mapper.StatsPoolHourZecMapper">
	<select id="getStatsPoolHourByHour" resultType="com.mpool.common.model.pool.StatsPoolHour">
		SELECT * FROM `zec_stats_pool_hour` WHERE `hour` = #{hour} LIMIT 1
	</select>
	<select id="getStatsPoolHourByHours" resultType="com.mpool.common.model.pool.StatsPoolHour">
		SELECT * FROM `zec_stats_pool_hour` WHERE `hour` IN <foreach collection="hours" open="(" close=")" separator="," item="itme">
			#{itme}
		</foreach>
	</select>
</mapper>