<!--用户列表-->
<h3>
   <small>{{ 'dashboard.ACCOUNTUSERLIST' | translate:{ appName: app.name } }} </small>
</h3>

<div class="table-grid table-grid-desktop">
   	<div class="panel col-lg-12">
      	<div class="panel-body tableBot">
         	<p></p>
         	<table class="table table-hover tableSize">
            	<thead class="tableBC">
            		<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)"
            			ng-class="{sortable: column.sortable !== false}">
		                {{column.label}}
		                <i ng-show="vm.sort.direction === 1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-down"></i>
		                <i ng-show="vm.sort.direction === -1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-up"></i>
		            </th>
            	</thead>
           		<tbody>
		            <tr ng-show="show_items" ng-repeat="items in itemsData|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1">
		               	<td>
		               		<a ng-click="getAccountUserListDetails(items.userId)" title="点击进入用户列表详情">{{items.username}}</a>
		               	</td>
		               	<td>{{items.currentShare}}</td>
		               	<td>{{items.pastDayShare}}</td>
		               	<td>{{items.totalDue / 100000000 | number:8}}</td>
		               	<td>{{((items.totalPaid + items.totalDue)?(items.totalPaid + items.totalDue):0) / 100000000 | number:8}}</td>
						<td>{{(items.totalPaid?items.totalPaid:0) / 100000000 | number:8}}</td>
		               	<td>{{items.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{items.lastTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
		            </tr>
            	</tbody>
         	</table>

			<div class="wait" ng-show="!show_items">
		    	<div class="loader1">
	            	<div class="ball-clip-rotate hint">
	               		<div></div>
	               		<span class="hint2">加载中...</span>
	            	</div>
			    </div>
		    </div>
          	<div ng-show="items_num==0 && show_items" class="wait text-center">
		    	<span>列表为空</span>
		    </div>
         	<select ng-model="currentSelect.value" ng-change="getAccountUserList(1,currentSelect.value)" class="displayValue">
            	<option value="10">10</option>
            	<option value="20">20</option>
            	<option value="30">50</option>
            	<option value="100">100</option>
         	</select>
         	<span class="display-value">条每页，共：{{count}} 条，{{totalPage}}页</span>
         	<ul class="pagination btnPag">
            	<li ng-class="{true:'disabled'}[p_current==1]">
            		<a href="javascript:void(0);" ng-click="p_index()" class="pIndex">首页</a>
            	</li>
            	<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]">
            		<a href="javascript:void(0);" ng-click="load_page(page,currentSelect.value)" class="pIndex">{{ page }}</a>
            	</li>
            	<li ng-class="{true:'disabled'}[p_current==p_all_page]">
            		<a href="javascript:void(0);" ng-click="p_last()" class="pIndex">尾页</a>
            	</li>
         	</ul>

      	</div>
   </div>
   
</div>

