
/*登录和修改密码界面样式  .css*/
.img-responsive{
	height: 54px;
    margin-top: -10px !important;
    padding-left: 70px;
}
.img-responsives{
	height: 54px;
    margin-top: -10px !important;
}

.form-validation{
	border: 1px solid #ff934c;
    background: #fefcee;
    padding: 5px 8px;
    margin-bottom: 10px;
    position: absolute;
    top: 167px;
    width: 330px;
}
.form-validation .Icon{
	color: #ff934c;
}

/********登录界面样式**********/
.loader{
	display: none;
	position: absolute;
    top: 185px;
    margin-left: 115px;
}
.loader div{
	text-align: center;
	display: -webkit-inline-box;
}
.loader span{
	position: relative;
	top: -1px;
	font-size: 12px;
	left: 5px;
	color:#909fa7;
}
.loginTitle{
	display: none;
}
.imgStyle{
	margin: -6px 0px 0 -21px;
    height: 34px;
}
.loginHeight{
	height: 600px;
}
.clearfix{
	margin-top: 10px !important;
}
.title-head{
	font-weight:400;
	font-size:18px;
	color:#373d41;
	padding-bottom:0px !important;
	margin-bottom: 38px;
}



/*******************首页    统计    工具下载      公告  样式 ***********************/
.called a{
	color: #23b7e5 !important;
    background: rgb(68, 68, 68);
}
.collectiveStyle{
	min-height: 850px;
	margin-top: 15px;
}
