<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.share.mapper.product.WalletAddressMapper">

	<select id="getOne" resultType="com.mpool.common.model.product.WalletAddressModel">
		SELECT
			*
		FROM
			wallet_address
		WHERE
			enabled = 1
		limit 1
	</select>

	<update id="updateEnabled">
		UPDATE
			wallet_address
		SET
			enabled = #{enabled}
		WHERE
			id = #{id}
	</update>

	<update id="updateEnabledBatch">
		UPDATE
			wallet_address
		SET
			enabled = #{enabled}
		WHERE
			wallet_address IN <foreach collection="walletAddressList" close=")" open="(" item="item" separator=",">#{item}</foreach>
	</update>

	<select id="getHadBalanceWalletAddressList" resultType="com.mpool.common.model.product.WalletAddressModel">
		SELECT
			*
		FROM
			wallet_address
		WHERE
			enabled = 2;
	</select>

	<insert id="inserts">
		INSERT INTO `wallet_address`(
		`wallet_address`
		) VALUES
		<foreach collection="list" separator="," item="tiem">
			(#{tiem})
		</foreach>
	</insert>

</mapper>
