/*********模态框样式*********/
.h5Title{
	height:30px;
	margin-top: 1px;
	font-size: 16px;
	border-bottom: 2px solid #e6e9ed;
}
.content{
	width: 80%;
	margin: 30px auto 0 auto;
}
.btnStyle{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}
.userul{
	line-height: 56px !important;
}
.userul li{
	height: 56px !important;
	width: 80%;
	margin: 0 10% !important;
	border-top: 1px dashed #DEE2ED;
	list-style-type: circle;
	font-size: 16px;	
}
.userul li a{
	color: #000;
	text-decoration: none;
}
.userul li a:hover{
	color: #0052CE;
}
.gundongtiao::-webkit-scrollbar {
    width: 5px;     
    height: 1px;
}
.gundongtiao::-webkit-scrollbar-thumb {
    border-radius: 0px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.35);
}
.gundongtiao::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: #fff;
}
.deleteStyle{
	color: #f39800;
}
.qiehuanModal{
	text-align: center;
}