<!-- 头部导航栏 -->
<header ng-include="'../top-navbar.html'" class="topnavbar-wrapper">
	
</header>
<!--左边栏 ng-include="'views/partials/sidebar.html'"-->
<aside  ng-controller="SidebarController" class="aside">
	<script type="text/ng-template" id="sidebar-renderer.html">
		<span ng-if="item.heading">{{(item.translate | translate) || item.text}}</span>
		<a ng-if="!item.heading" ng-href="{{$state.href(item.sref, item.params)}}" title="{{item.text}}">
			<em ng-if="item.icon" class="{{item.icon}}"></em>
			<div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
			<span>{{(item.translate | translate) || item.text}}</span>
		</a>
		<ul ng-if="item.submenu" collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)" class="nav sidebar-subnav">
			<li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
			<li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleCollapse(pIndex)"></li>
		</ul>
	</script>
	
	<div class="aside-inner">
	   	<nav sidebar="" sidebar-anyclick-close="" class="sidebar">
	      	<ul class="nav">
	         	<li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-init="pIndex = $index" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse(pIndex, true)"></li>
	      	</ul>
	   	</nav>
	</div>
</aside>
<!-- 页面中部-->
<section>
   <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper"></div>
</section>

<!--<footer ng-include="'views/partials/footer.html'"></footer>-->