<!--支付账单-->

<h3>
	<small>{{ 'dashboard.PAYRECORDS' | translate:{ appName: app.name } }} </small>
</h3>

<div class="table-grid table-grid-desktop">
	<div class="panel col-lg-12" style="padding-top: 10px;">
		<div style="margin-left: 14px;margin-right: 15px;">
			<span>
				<wui-date 
					format="yyyy-mm-dd" 
					placeholder="请选择支付日期" 
					id="date1"
					ng-model="date1">
				</wui-date>
				<span> - </span>
				<wui-date 
					format="yyyy-mm-dd" 
					placeholder="请选择支付日期" 
					id="date5"
					ng-model="date5">
				</wui-date>
			</span>&nbsp;&nbsp;&nbsp;
   			<label>单号</label>
			<input ng-model="orderId" placeholder="单号搜索" style="width:15%;display: -webkit-inline-box;" class="form-control"/>&nbsp;&nbsp;&nbsp;
   			<label>txid</label>
			<input ng-model="txid" placeholder="txid搜索" style="width:15%;display: -webkit-inline-box;" class="form-control"/>&nbsp;&nbsp;&nbsp;
			<label>状态</label>
			<select ng-model="status" class="form-control" style="width:10%;display: -webkit-inline-box;">
				<option value="">请选择</option>
				<option value="0">完成</option>
				<option value="1">未完成</option>
			</select>
			<button ng-click="getPaybillList(1,currentSelect.value)" class="btn btn-primary">搜索</button>
   			<span style="font-size:14px;float:right;line-height:34px;margin-right:30px;">合计：{{sum / 100000000 | number:8}}</span>
   				
   			<!--<a href="" target="_blank" style="float:right;line-height:34px;">导出</a>-->
   		</div>
		<div class="panel-body tableBot">
			<p></p>
			<table class="table table-hover tableSize">
				<thead class="tableBC">
					<th ng-repeat="column in vm.columns" ng-if="!column.hidden" ng-click="vm.sort.toggle(column)" ng-class="{sortable: column.sortable !== false}">
						{{column.label}}
						<i ng-show="vm.sort.direction === 1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-down"></i>
						<i ng-show="vm.sort.direction === -1" ng-if="column.name === vm.sort.column && vm.sort.direction" class="fa fa-long-arrow-up"></i>
					</th>
				</thead>
				<tbody>
					<tr ng-show="show_items" ng-repeat="items in itemsData|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1">
						<td>
							<a ng-click="getPayBillDetails(items.bill_number)">{{items.bill_number}}</a>
						</td>
						<td>{{items.txid}}</td>
						<td>{{items.cteate_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{items.pay_all_btc | number:8}}</td>
						<td>{{items.status == 1 ? '未完成':'完成'}}</td>
						<td>
							<div ng-show="items.operat">{{items.operat}}</div>
							<div ng-show="!items.operat">暂无数据</div>
						</td>
						<td style="padding: 2px;">
							<a href="/apis/bill/exportBillItems/{{items.bill_number}}" target="_blank" class="btn btn-link">导出</a>
							<a ng-disabled="items.status == 0" ng-click="getPay(items.bill_number)" class="btn btn-link">填写TXID</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="wait" ng-show="!show_items">
				<div class="loader1">
					<div class="ball-clip-rotate hint">
						<div></div>
						<span class="hint2">加载中...</span>
					</div>
				</div>
			</div>
			<div ng-show="items_num==0 && show_items" class="wait text-center">
				<span>列表为空</span>
			</div>
			<select ng-model="currentSelect.value" ng-change="getPaybillList(1,currentSelect.value)" class="displayValue">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="30">50</option>
				<option value="100">100</option>
			</select>
			<span class="display-value">条每页，共：{{count}} 条，{{totalPage}}页</span>
			<ul class="pagination btnPag">
				<li ng-class="{true:'disabled'}[p_current==1]">
					<a href="javascript:void(0);" ng-click="p_index()" class="pIndex">首页</a>
				</li>
				<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]">
					<a href="javascript:void(0);" ng-click="load_page(page,currentSelect.value)" class="pIndex">{{ page }}</a>
				</li>
				<li ng-class="{true:'disabled'}[p_current==p_all_page]">
					<a href="javascript:void(0);" ng-click="p_last()" class="pIndex">尾页</a>
				</li>
			</ul>

		</div>
	</div>

</div>

<!--填写TXID      模态框-->
<script type="text/ng-template" id="modalGroups">
	<div class="ngdialog-message">
		<h5 class="h5Title">填写TXID</h5>
		<div class="content">
			<div class="form-group has-feedback">
	       		<input type="text" ng-model="txid" ng-change="check(txid)" placeholder="填写TXID" class="form-control"/>
			</div>
		</div>
		<div class="btnStyle">
			<button ng-click="confirm(txid)" ng-disabled="!group2" class="btn btn-primary mr">确定</button>
			<button ng-click="closeThisDialog()" class="btn btn-default">取消</button>
		</div>
	</div>
</script>