<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.share.admin.module.bill.mapper.UserBillToBePaidMapper">

    <select id="getToBePaidBillList" resultType="com.mpool.share.admin.model.UserBillToBePayVO">
        SELECT
          *
        FROM
          user_bill_tobe_pay
        WHERE
          1=1
          <if test="state == 0 or state == 1">
              AND
                  state = #{state}
          </if>
          <if test="begTime != null">
              AND
                  <![CDATA[ DATE_FORMAT(#{begTime},'%Y-%m-%d %H:%i:%s') < DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s')]]>
          </if>
          <if test="endTime != null">
              AND
                  <![CDATA[DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%s') > DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s')]]>
          </if>
    </select>

    <update id="updateBillState">
        UPDATE
          user_bill_tobe_pay
        SET
          state = 1,
          txid = #{txid},
          pay_at = #{date},
          exchange_rate = #{rate}
        WHERE
          paid_id = #{paidId}
    </update>

    <select id="getBillToBePaidByTxid" resultType="com.mpool.common.model.share.UserBillToBePay">
        SELECT
            *
        FROM
            user_bill_tobe_pay
        WHERE
            txid = #{txid}
    </select>

    <select id="getToBePaidBillByPaidId" resultType="com.mpool.share.admin.model.UserBillToBePayVO">
        SELECT
          *
        FROM
          user_bill_tobe_pay
        WHERE
          paid_id = #{paidId}
    </select>

    <select id="getToBePaidBillByTxid" resultType="com.mpool.share.admin.model.UserBillToBePayVO">
        SELECT
          *
        FROM
          user_bill_tobe_pay
        WHERE
          txid = #{txid}
    </select>

    <update id="updatePayNumByPaidId">
        UPDATE
          user_bill_tobe_pay
        SET
          pay_num = #{payNum}
        WHERE
          paid_id = #{paidId}
    </update>
    
    <delete id="deleteOne">
        DELETE FROM user_bill_tobe_pay WHERE paid_id = #{paidId}
    </delete>

    <select id="getAdminPayLog" resultType="map">
        SELECT
            paid_id AS id,
            admin_name AS adminName,
            txid,
            UNIX_TIMESTAMP(pay_at) AS payAt
        FROM
            user_bill_tobe_pay
        WHERE
            state=1
        ORDER BY pay_at DESC
    </select>

</mapper>
