<link rel="stylesheet" href="/app/homepage/css/footstyle.css" />
<div class="col-lg-12" style="position: absolute;bottom: 0;left: 0;right: 0">
	<div class="background-parallax" data-enllax-ratio=".5" data-enllax-type="background" data-enllax-direction="vertical"></div>
	<div class="container padding-bottom-big">
		<div class="row justify-content-between">
		<div class="col-lg-5 col-md-12 foot-logo hidden-xs" style="margin-top: 20px">
			<img src="app/homepage/img/qrImg.jpg" class="qrImg">
			<div style="display: inline-block; align-items: center; vertical-align: middle; margin-left:30px;padding-right: 60px;border-right:1px solid #FFFFFF" >
				<img src="/app/homepage/img/logo/Logo.png" class="logoImg" alt="logo">
				<text class="email">{{'foot.email'|translate}}：support@hummerpool.com</text>
			</div>
		</div>
		<div class="col-lg-7 col-md-12" style="margin-top: 20px;color:#fff;opacity: 1; text-align: center">
			<ul class="footer-list footlist">
				<li class="ft-item">
					<label style="margin-bottom:20px">{{'foot.Product'|translate}}</label>
					<a href="http://www.cynosure-chain.com">{{'foot.Hummerpool'|translate}}</a>
					<a href="https://www.hummerminer.com">{{'foot.Hummerminer'|translate}}</a>
				</li>
				<li class="ft-item">
					<label style="margin-bottom:20px">{{'foot.Service'|translate}}</label>
					<a href="/announcement">{{'foot.Announcements'|translate}}</a>
					<a href="" style="visibility:hidden">{{'foot.Mining Tutorial'|translate}}</a>
				</li>
				<!-- <li class="ft-item">
					<label style="margin-bottom:20px">{{'foot.Helps'|translate}}</label>
					<a href="">{{'foot.Help Center'|translate}}</a>
					<a href="">{{'foot.Contact Us'|translate}}</a>
				</li> -->
				<li class="ft-item" style="width: 160px !important">
					<label style="margin-bottom:20px">{{'foot.After-sale'|translate}}</label>
					<a href="">{{'foot.QQ Group'|translate}}1:783079293</a>
					<a href="">{{'foot.QQ Group'|translate}}2:791421817</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>