
<h3>
   <small>{{ 'dashboard.NOTICEDETAILS' | translate:{ appName: app.name } }} </small>
</h3>
<div class="table-grid table-grid-desktop">
    
    

    <div class="panel col-lg-12">
		<div class="panel-body tableBot">
			<p class="table-top">
				<span class="tishi">
					<a href="#" class="icon-action-undo" ng-click="back()" title="返回"></a>&nbsp;
					通知详情
				</span>
				
			</p>
			<span style=" font-size: 20px;">标题：<label>{{title}}</label></span>
         	<div id="notice_text" style="margin-top: 10px;"></div>
	   	</div>
	</div>

</div>

