<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.account.mapper.UserIpAddessMapper">

	<select id="getIpAddess" resultType="com.mpool.common.model.account.IpRegion">
		SELECT *
		FROM account_ip_region
		WHERE ip = #{ip}
	</select>

	<!--<update id="subtractionTotalDue">-->
		<!--UPDATE `user_pay` SET `total_due`=total_due - #{totalDue} WHERE `id`=#{id}-->
	<!--</update>-->

</mapper>
