<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.account.mapper.pool.MiningWorkersMapper">
	<select id="findByUserIdAndWorkerIds" resultType="com.mpool.common.model.pool.MiningWorkers">
		select 
			worker_id ,
			puid,
			group_id,
			worker_name,
			accept_1m ,
			accept_5m ,
			accept_15m ,
			reject_15m ,
			accept_1h ,
			reject_1h ,
			accept_count ,
			last_share_ip,
			last_share_time,
			miner_agent,
			created_at,
			updated_at
		from mining_workers 
		where puid=#{userId} 
		and  worker_id in
		<foreach collection="workerIds" item="workerId" open="(" separator="," close=")">
			#{workerId}
		</foreach>
	</select>
	<select id="getMiningWorkers" resultType="com.mpool.common.model.pool.MiningWorkers">
		select 
			*
		from mining_workers 
		where puid=#{userId}  and  worker_id =#{workerId}
	</select>
	
	<select id="getUserWorkerActive" resultType="map">
		SELECT
			puid,
			COUNT( worker_id ) AS inaction 
		FROM
			mining_workers 
		WHERE
			worker_id != 0 
			AND accept_15m > 0 
		GROUP BY
			puid
	</select>
	<select id="getUserShare" resultType="com.mpool.common.model.pool.MiningWorkers">
		SELECT
			puid,accept_15m
		FROM
			mining_workers 
		WHERE
			worker_id = 0 
	</select>
</mapper>