<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpool.account.mapper.pool.StatsUsersHourMapper">
	<select id="getStatsUsersHourInHourAndInPuid" resultType="com.mpool.common.model.pool.StatsUsersHour">
		SELECT
			*
		FROM
			stats_users_hour
		WHERE
			puid IN <foreach collection="userIds" close=")" open="(" item="item" separator=",">#{item}</foreach>
		AND `hour` IN <foreach collection="hours" close=")" open="(" item="item" separator=",">#{item}</foreach>
	</select>
</mapper>