<!--头部导航栏-->
<!-- <span data-ng-bind="::pageTitle()" style="display: none;"></span>
<nav role="navigation" class="navbar topnavbar">
	<div class="container">	
		<div class="navbar-header">	
			<div class="navbar-brand">		
				<div class="brand-logo">
					<img src="../../img/banner/logo.png" ng-click="homepage()" alt="蜂鸟矿池" class="img-responsive" />
				</div>
			</div>	
		</div>
	</div>	
</nav> -->
<!--邮件找回密码-->
<!--
<div class="block-center mt-xl wd-xl resetHeight" ng-show="registerSuccess">
-->
<div class="block-center mt-xl wd-xl loginHeight" ng-show="registerSuccess"  style="margin-top: 173px !important">
	<div class="panel panel-dark panel-flat">
		<div class="panel-body" style="border: 1px solid #D9DCE0;box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 4px; padding: 0">
					<!--<div style="height: 22px;">
			<span style="float: right;">
				<a ng-href="/phoneResetPassword">手机号找回密码?</a>
			</span>
		</div>
			<p class="text-center pv registerTitle">邮件找回密码</p> -->
			<img src="../../app/homepage/img/logo/logo_1.png" width="100%" style="margin-top:-30px">			 
			<form name="registerForm" novalidate class="form-validate mb-lg">
				<!--验证提示信息-->
				<div class="clearfix2 form-validation loginTitle">
						<!-- <span class="fa fa-exclamation-circle Icon"></span> -->
					<img src="/img/banner/erricon.png" alt="错误：">
					<span class="text-danger2">{{registerTitle}}</span>
				</div>
				<div class="registerTab">
					<a ng-href="/phoneResetPassword"  class="phone">{{'login.phback' | translate}}</a>
					<a class="email">
						<span>{{'login.emback' | translate}}</span>
					</a>
				</div>
				<!--邮箱-->
				<div class="form-group has-feedback registerSub">
					<label class="text-muted"></label>
					<input id="usererr" type="text" ng-model="email" ng-change="changeEmail()" placeholder="{{'login.enterER' | translate}}" class="form-control"/>        		
					<span class="regtitle">{{emailCheck}}</span>
				</div>
				<!--验证码-->
				<!-- <div class="form-group has-feedback registerSub3">
					<label class="text-muted"></label>
					<input type="text" ng-model="captchaCode" ng-change="changeCode2()" placeholder="{{'login.enterEvc' |translate}}" class="form-control codeinput"/>
					<div class="code">
						<span ng-click="getEmailCode()">
							<img src="{{imgUrl}}" class="imgStyle2"/>
						</span>
					</div>
					<span class="captCode">{{capCodeCheck}}</span>
				</div> -->
				<!--邮箱验证码-->
				<div class="form-group has-feedback registerSub2">
					<label class="text-muted regemailStyle"></label>
					<input id="emcodeerr" type="text" ng-model="emailCode" ng-change="changeEmailCode()" placeholder="{{'login.enterEvc' | translate}}" maxlength="6" class="form-control" />
					<button type="button" class="codeBut" ng-click="resEmail()" ng-disabled="!disCode">
						<p ng-show="sendCode">{{'login.vc' | translate}}</p>
						<p ng-show="!sendCode">{{'login.sended' | translate}} {{time}}	</p>
					</button>
					<span class="captCode">{{codeCheck}}</span>
				</div>
				
				<!--密码-->
				<div class="form-group has-feedback registerSub">
					<label class="text-muted"></label>
					<input id="psw" type="password" ng-model="password" ng-change="changePassword()" ng-pattern='/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,16}$/' placeholder="{{'login.newpsw' | translate}}" class="form-control" />
					<span class="regtitle">{{passCheck}}</span>
				</div>
				<!--确定密码-->
				<div class="form-group has-feedback registerSub">
					<label class="text-muted"></label>
					<input id="confpsw" type="password" ng-model="pasConfirm" ng-change="changePassCon()" placeholder="{{'login.comfP' | translate}}" class="form-control" />
					<span class="regtitle">{{pasConCheck}}</span>
				</div>
				
				<p class="pt-lg text-center"></p>
				<button type="submit" ng-click="postResetPassword()" ng-disabled="!sub3" class="btn btn-block btn-primary mt-lg registerSub"  style="background-color: #1466BF !important">{{"common.ok" |translate }}</button>
				
			</form>
			<a ng-href="/login" class="btn btn-block btn-default registerSub"  style="border: 1px solid #1466BF;box-sizing: border-box;border-radius: 2px;color: #1466BF;">{{'login.login' | translate}}</a>
			<p class="pt-lg text-center"></p>
		</div>
	</div>
</div>


<div class="block-center mt-xl wd-xl registerHeight" ng-show="!registerSuccess">
   	<div class="panel panel-dark panel-flat">
      	<div class="panel-body"  style="border: 1px solid #D9DCE0;box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);border-radius: 4px; padding: 0">
         	<p class="text-center pv pointOut">
         		<span class="succ">{{passTitle}}</span><br />
				<span class="succ2">{{passTitle2}}</span>
				
				<a ng-href="/login" class="btn btn-block btn-default registerSub denglu" style="background: #1466BF;border-radius: 2px; color:#fff">返回登录界面</a>
         	</p>
      	</div>
   	</div>
</div>


<!--<footer ng-include="'views/partials/footer.html'" class="loginFooter"></footer>-->